
<div style="height:50vh">

<center>


<h1>Hey {{username}},Welcome To VitalEducator</h1>
<h2 style="color: #929292;">Please Verify Your email address</h2>

<p>
    <a href="{{url}}">Confirm</a>
</p>

</center>
</div>