
<div style="height:50vh">

<center>


<h1>Hey {{username}},Welcome To VitalEducator</h1>
<h2 style="color: #929292;">Reset Your Password</h2>

<p>
    <a href="{{url}}">Reset Password</a>
</p>

</center>
</div>